# Installazione e import pacchetti

In [120]:
# %pip install pandas
# %pip install openpyxl
# %pip install statsmodels
# %pip install seaborn
# %pip install tqdm

Collecting tqdm
  Downloading tqdm-4.64.0-py2.py3-none-any.whl (78 kB)
     ---------------------------------------- 78.4/78.4 KB 4.3 MB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\marco\appdata\roaming\python\python310\site-packages (from tqdm) (0.4.4)
Installing collected packages: tqdm
Successfully installed tqdm-4.64.0
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script tqdm.exe is installed in 'c:\Users\marco\AppData\Local\Programs\Python\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'c:\Users\marco\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [4]:
import pandas as pd
from openpyxl import Workbook
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.regression.rolling import RollingOLS
import seaborn as sns
from time import sleep
from tqdm import tqdm

In [5]:
%matplotlib inline
pd.plotting.register_matplotlib_converters()
sns.set_style("darkgrid")

# Import dataset

In [6]:
# Path Remo
path_index = 'C:/Users/marco/OneDrive/UNIMIB_DataScience/99-PROJECTS/FinancialMarketAnalytics2022/Financial_Market_Analytics/Dataset/NASDAQ_INDEX.xlsx'
path_stocks = 'C:/Users/marco/OneDrive/UNIMIB_DataScience/99-PROJECTS/FinancialMarketAnalytics2022/Financial_Market_Analytics/Dataset/STOCKS.xlsx'

In [47]:
df_index = pd.read_excel(path_index, header=0, parse_dates=[0], index_col=0)
df_index=df_index.rename(columns={'NASDAQ_Index':"Mkt_RF"})

In [31]:
display(df_index)

              Mkt_RF
Date
2017-07-07   5656.47
2017-07-10   5694.15
2017-07-11   5709.80
2017-07-12   5778.95
2017-07-13   5793.36
...              ...
2022-07-01  11585.68
2022-07-05  11779.90
2022-07-06  11852.59
2022-07-07  12109.05
2022-07-08  12125.69

[1260 rows x 1 columns]

In [48]:
df_stocks = pd.read_excel(path_stocks, header=0, parse_dates=[0], index_col=0)
print(type(df_stocks))

<class 'pandas.core.frame.DataFrame'>

In [7]:
display(df_stocks)

,"Airbnb, Inc. Class A (ABNB-US)","Lucid Group, Inc. (LCID-US)",Datadog Inc Class A (DDOG-US),"CrowdStrike Holdings, Inc. Class A (CRWD-USA)","Zscaler, Inc. (ZS-US)",Constellation Energy Corporation (CEG-US),"Fortinet, Inc. (FTNT-US)","Palo Alto Networks, Inc. (PANW-US)","Old Dominion Freight Line, Inc. (ODFL-US)",Astrazeneca PLC Sponsored ADR (AZN-US),...,NortonLifeLock Inc. (NLOK-US),"Henry Schein, Inc. (HSIC-US)","Illumina, Inc. (ILMN-US)","Analog Devices, Inc. (ADI-US)","Autodesk, Inc. (ADSK-US)","Mattel, Inc. (MAT-US)",Walgreens Boots Alliance Inc (WBA-US),Vodafone Group Plc Sponsored ADR (VOD-US),Fastenal Company (FAST-US),Cintas Corporation (CTAS-US)
Date,,,,,,,,,,,,,,,,,,,,,
2017-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
2017-07-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.076734,98.785828,98.193016,100.331337,100.406504,100.528592,99.599845,100.139470,99.681021,100.325061
2017-07-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.111932,98.818640,100.604265,101.771378,100.948509,100.336377,99.767652,98.919107,99.316473,99.762150
2017-07-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105.315030,100.180492,100.650747,102.421308,103.252033,100.336377,100.064541,100.767085,97.334245,100.816618
2017-07-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,106.863780,99.775763,100.517111,102.293870,103.629501,99.615569,100.697044,101.324965,98.359535,100.269563
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,63.167715,171.890799,269.107856,309.051724,470.818182,137.142857,745.258470,373.301506,400.158401,195.407407,...,NaN,NaN,110.998780,182.120556,168.273326,NaN,49.774106,NaN,226.657553,298.668041
2022-07-05,66.298113,174.216380,288.628495,322.448276,503.969697,130.809524,766.432800,382.769005,397.107502,194.103704,...,NaN,NaN,112.149207,182.324455,171.215641,NaN,49.709565,NaN,226.338574,297.597717
2022-07-06,64.183539,184.226491,287.696405,320.551724,496.212121,135.142857,777.734436,378.229893,405.033708,197.007407,...,NaN,NaN,113.526233,184.401682,171.051103,NaN,48.767265,NaN,229.756209,301.371601
2022-07-07,67.376132,200.303337,286.817577,327.931034,507.363636,140.738095,800.467612,379.911862,419.598302,198.281481,...,NaN,NaN,117.483005,189.333503,176.393728,NaN,49.322318,NaN,231.442242,301.982082
2022-07-08,67.272476,202.123357,288.388815,328.241379,505.727273,142.023810,814.497230,385.031216,418.571115,198.459259,...,NaN,NaN,114.484922,191.079393,174.051491,NaN,48.470376,NaN,230.758715,302.124792

In [ ]:
# Estraggo solo il symbol, ovvero il valore tra parentesi
old = df_stocks.columns.to_list()
new = df_stocks.columns.to_list()
for i in range(len(old)):
    start = new[i].index('(')
    end = new[i].index(')',start+1)
    substring=new[i][start+1:end]
    new[i]=substring
words = [w.replace('[br]', '<br />') for w in words]

In [70]:
# Sostituiscono - con _
new = [n.replace('-', '_') for n in new]
new

['ABNB_US',
 'LCID_US',
 'DDOG_US',
 'CRWD_USA',
 'ZS_US',
 'CEG_US',
 'FTNT_US',
 'PANW_US',
 'ODFL_US',
 'AZN_US',
 'HON_US',
 'MTCH_US',
 'PTON_US',
 'MRNA_US',
 'OKTA_US',
 'PDD_US',
 'TEAM_US',
 'KDP_US',
 'MRVL_US',
 'AEP_US',
 'ZM_US',
 'DOCU_US',
 'SPLK_US',
 'CDW_US',
 'DXCM_US',
 'EXC_US',
 'CPRT_US',
 'CSGP_US',
 'SGEN_US',
 'ANSS_US',
 'FOX_US',
 'FOXA_US',
 'UAL_US',
 'NTAP_US',
 'NXPI_US',
 'LULU_US',
 'XEL_US',
 'PEP_US',
 'AMD_US',
 'WTW_US',
 'VRSN_US',
 'WDAY_US',
 'SNPS_US',
 'CDNS_US',
 'ALGN_US',
 'ASML_US',
 'TTWO_US',
 'WBD_US',
 'VTRS_US',
 'KHC_US',
 'PYPL_US',
 'EXPE_US',
 'META_US',
 'JD_US',
 'QRTEA_US',
 'DISH_US',
 'TMUS_US',
 'NCLH_US',
 'CHTR_US',
 'GOOG_US',
 'TSLA_US',
 'AVGO_US',
 'VRSK_US',
 'CMCSA_US',
 'STX_US',
 'MDLZ_US',
 'LBTYA_US',
 'LBTYK_US',
 'BIDU_US',
 'AAL_US',
 'MELI_US',
 'GOOGL_US',
 'TCOM_US',
 'ULTA_US',
 'VRTX_US',
 'CHKP_US',
 'AMAT_USA',
 'WYNN_US',
 'PAYX_US',
 'BKNG_US',
 'CTXS_US',
 'XRAY_US',
 'INTU_US',
 'ISRG_US',
 'EA_US',
 'CSCO_US',
 'INTC_US',
 'IDXX_US',
 'WDC_US',
 'INCY_US',
 'LRCX_US',
 'EBAY_US',
 'AAPL_US',
 'CSX_US',
 'MU_US',
 'MCHP_US',
 'NFLX_US',
 'PCAR_US',
 'ADBE_US',
 'KLAC_US',
 'NVDA_US',
 'ORLY_US',
 'CTSH_US',
 'AMZN_US',
 'TXN_US',
 'ATVI_US',
 'JBHT_US',
 'HAS_US',
 'ROST_US',
 'AMGN_US',
 'AKAM_US',
 'GILD_US',
 'BIIB_US',
 'ADP_US',
 'TSCO_US',
 'SIRI_US',
 'BMRN_US',
 'SWKS_US',
 'QCOM_US',
 'REGN_US',
 'FISV_US',
 'COST_US',
 'DLTR_US',
 'MNST_US',
 'SBUX_US',
 'MAR_US',
 'MSFT_US',
 'NLOK_US',
 'HSIC_US',
 'ILMN_US',
 'ADI_US',
 'ADSK_US',
 'MAT_US',
 'WBA_US',
 'VOD_US',
 'FAST_US',
 'CTAS_US']

In [72]:
# Creo un dizionario con chiave il vecchio valore della colonna e come il valore il nuovo valore
def renaming_columns(old, new):
    rename_list = dict.fromkeys(old)
    for i in range(len(new)):
        rename_list[old[i]] = new[i]
    return rename_list
renamed_column_name = renaming_columns(old, new)

In [73]:
# Rinomino tutte le colonne del dataframe
df_stocks=df_stocks.rename(columns=renamed_column_name)
df_stocks.head()

,ABNB_US,LCID_US,DDOG_US,CRWD_USA,ZS_US,CEG_US,FTNT_US,PANW_US,ODFL_US,AZN_US,...,NLOK_US,HSIC_US,ILMN_US,ADI_US,ADSK_US,MAT_US,WBA_US,VOD_US,FAST_US,CTAS_US
Date,,,,,,,,,,,,,,,,,,,,,
2017-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
2017-07-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.076734,98.785828,98.193016,100.331337,100.406504,100.528592,99.599845,100.139470,99.681021,100.325061
2017-07-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.111932,98.818640,100.604265,101.771378,100.948509,100.336377,99.767652,98.919107,99.316473,99.762150
2017-07-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105.315030,100.180492,100.650747,102.421308,103.252033,100.336377,100.064541,100.767085,97.334245,100.816618
2017-07-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,106.863780,99.775763,100.517111,102.293870,103.629501,99.615569,100.697044,101.324965,98.359535,100.269563

# Log return

In [74]:
# Stocks dataset
df_stocks_log_ret=df_stocks.copy()
for column in df_stocks:
   df_stocks_log_ret[column]= df_stocks_log_ret[column].pct_change().apply(lambda x: np.log(1+x))
display(df_stocks_log_ret)

,ABNB_US,LCID_US,DDOG_US,CRWD_USA,ZS_US,CEG_US,FTNT_US,PANW_US,ODFL_US,AZN_US,...,NLOK_US,HSIC_US,ILMN_US,ADI_US,ADSK_US,MAT_US,WBA_US,VOD_US,FAST_US,CTAS_US
Date,,,,,,,,,,,,,,,,,,,,,
2017-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.020555,-0.012216,-0.018235,0.003308,0.004057,0.005272,-0.004010,0.001394,-0.003195,0.003245
2017-07-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000345,0.000332,0.024260,0.014251,0.005384,-0.001914,0.001683,-0.012261,-0.003664,-0.005627
2017-07-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.030887,0.013687,0.000462,0.006366,0.022562,0.000000,0.002971,0.018509,-0.020161,0.010514
2017-07-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.014599,-0.004048,-0.001329,-0.001245,0.003649,-0.007210,0.006301,0.005521,0.010479,-0.005441
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,0.025820,-0.009368,0.059215,0.061490,0.038446,0.005920,0.013866,0.028559,0.018288,-0.001818,...,0.000000,0.000000,0.035592,-0.022008,0.010988,0.000000,0.017264,0.000000,-0.003612,0.008477
2022-07-05,0.048368,0.013439,0.070028,0.042434,0.068044,-0.047281,0.028016,0.025045,-0.007653,-0.006694,...,0.000000,0.000000,0.010311,0.001119,0.017334,0.000000,-0.001298,0.000000,-0.001408,-0.003590
2022-07-06,-0.032415,0.055868,-0.003235,-0.005899,-0.015513,0.032590,0.014638,-0.011929,0.019763,0.014849,...,0.000000,0.000000,0.012204,0.011329,-0.000961,0.000000,-0.019138,0.000000,0.014987,0.012601
2022-07-07,0.048544,0.083667,-0.003059,0.022760,0.022224,0.040568,0.028811,0.004437,0.035328,0.006446,...,0.000000,0.000000,0.034260,0.026394,0.030756,0.000000,0.011317,0.000000,0.007312,0.002024
2022-07-08,-0.001540,0.009045,0.005463,0.000946,-0.003230,0.009094,0.017375,0.013385,-0.002451,0.000896,...,0.000000,0.000000,-0.025851,0.009179,-0.013367,0.000000,-0.017424,0.000000,-0.002958,0.000472

In [75]:
# Market index 
df_index_log_ret=df_index.copy()
df_index_log_ret['Mkt_RF']=df_index_log_ret['Mkt_RF'].pct_change().apply(lambda x: np.log(1+x))
display(df_index_log_ret)

              Mkt_RF
Date
2017-07-07       NaN
2017-07-10  0.006639
2017-07-11  0.002745
2017-07-12  0.012038
2017-07-13  0.002490
...              ...
2022-07-01  0.007099
2022-07-05  0.016625
2022-07-06  0.006152
2022-07-07  0.021407
2022-07-08  0.001373

[1260 rows x 1 columns]

# Rolling regression

## Prima versione

Effettuo la rolling regression e salvo i risultati come dizionari. Nello specifico in questo caso si è creato un dizionario per ogni parametro del modello che ci interessa e al suo interno avremo le stime di quel parametro per ogni singola stima

In [167]:
# Stimo il modello passandogli variabile dipendente ed esplicativa e salvando specifici risultati (alpha, beta, var_res ecc.) all'interno di 
# dizionari. Avremo quindi un dizionario per ogni elemento che si è deciso di salvare e al suo interno i risultati per ogni stocks stimati dalla 
# rolling regression. Questo è stato fatto in quanto poi dovrò costruire i portafogli secondo specifici parametri, quali ad esempio alpha, beta ecc..
y_var = list(df_stocks_log_ret)
exog = sm.add_constant(df_RR['Mkt_RF'])

key_list =['alpha', 'beta', 'R2', 'Specific Risk', 'Sistemati Risk', 'Total Risk']
RR_res_par=dict.fromkeys(key_list)

RR_res_par['Alpha']={}
RR_res_par['Beta']={}
RR_res_par['R2']={}
RR_res_par['Specific Risk']={}
RR_res_par['Systematic Risk']={}
RR_res_par['Total Risk']={}

for endog in tqdm(y_var):
    mod = RollingOLS(df_RR[endog], exog, window=180, min_nobs=180)
    rres=mod.fit()

    RR_res_par['Alpha'][endog]=rres.params['const']
    RR_res_par['Beta'][endog]=rres.params['Mkt_RF']
    RR_res_par['R2'][endog]=rres.rsquared
    RR_res_par['Specific Risk'][endog]=rres.mse_resid
    RR_res_par['Systematic Risk'][endog]=rres.mse_model
    RR_res_par['Total Risk'][endog]=rres.mse_total

 18%|█▊        | 25/137 [00:01<00:05, 20.54it/s] c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 23%|██▎       | 31/137 [00:01<00:05, 21.13it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 28%|██▊       | 38/137 [00:01<00:05, 18.43it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 34%|███▎      | 46/137 [00:02<00:06, 15.11it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 35%|███▌      | 48/137 [00:02<00:06, 14.16it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 36%|███▋      | 50/137 [00:02<00:06, 12.84it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 39%|███▉      | 54/137 [00:03<00:06, 11.86it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 41%|████      | 56/137 [00:03<00:07, 11.44it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 47%|████▋     | 64/137 [00:04<00:06, 10.67it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 48%|████▊     | 66/137 [00:04<00:06, 10.38it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 50%|████▉     | 68/137 [00:04<00:06, 10.37it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 53%|█████▎    | 72/137 [00:04<00:06, 10.26it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 56%|█████▌    | 77/137 [00:05<00:06,  8.83it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 58%|█████▊    | 80/137 [00:05<00:06,  9.39it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 59%|█████▉    | 81/137 [00:06<00:08,  6.45it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 64%|██████▍   | 88/137 [00:06<00:05,  9.45it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 77%|███████▋  | 106/137 [00:08<00:03, 10.32it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 80%|████████  | 110/137 [00:09<00:03,  8.95it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 82%|████████▏ | 113/137 [00:09<00:02,  9.49it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 85%|████████▍ | 116/137 [00:09<00:02,  9.74it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 92%|█████████▏| 126/137 [00:10<00:01, 10.39it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 93%|█████████▎| 128/137 [00:10<00:00, 10.69it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 96%|█████████▋| 132/137 [00:11<00:00, 10.64it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
 98%|█████████▊| 134/137 [00:11<00:00, 10.75it/s]c:\Users\marco\AppData\Local\Programs\Python\Python310\lib\site-packages\statsmodels\regression\rolling.py:272: RuntimeWarning: divide by zero encountered in log
  llf = -np.log(ssr) * nobs2  # concentrated likelihood
100%|██████████| 137/137 [00:11<00:00, 11.61it/s]

## Seconda versione

In questo caso creo un dizionario per ogni stocks e vado a salvare tuttti gli elementi che il modello stima all'interno di quel dizionario

In [ ]:
y_var = list(df_stocks_log_ret)
exog = sm.add_constant(df_index_log_ret['Mkt_RF'])

RR_res_stock=dict.fromkeys(y_var)
    

for endog in tqdm(y_var):
    mod = RollingOLS(df_stocks_log_ret[endog], exog, window=180, min_nobs=180)
    rres=mod.fit()

    RR_res_stock[endog]= {}
    RR_res_stock[endog][]=rres.
    RR_res_stock[endog]['Alpha']=rres.params['const']
    RR_res_stock[endog]['Beta']=rres.params['Mkt_RF']
    RR_res_stock[endog]['R2']=rres.rsquared
    RR_res_stock[endog]['Specific Risk']=rres.mse_resid
    RR_res_stock[endog]['Systematic Risk']=rres.mse_model
    RR_res_stock[endog]['Total Risk']=rres.mse_total

In [165]:
# Se voglio stampare il "summary"
my_dict = RR_res_stock['AAPL_US']
df = pd.DataFrame(my_dict)
print(df.iloc[498:500])

               Alpha      Beta        R2  Specific Risk  Systematic Risk  \
Date
2019-07-01 -0.001058  1.222967  0.706734       0.000136         0.058447
2019-07-02 -0.001084  1.225079  0.707043       0.000136         0.058448

            Total Risk
Date
2019-07-01    0.000462
2019-07-02    0.000462

# Matrice $R^2$

In [169]:
RR_res_par['R2']

{'ABNB_US': Date
 2017-07-07   NaN
 2017-07-10   NaN
 2017-07-11   NaN
 2017-07-12   NaN
 2017-07-13   NaN
               ..
 2022-07-01   NaN
 2022-07-05   NaN
 2022-07-06   NaN
 2022-07-07   NaN
 2022-07-08   NaN
 Length: 1260, dtype: float64,
 'LCID_US': Date
 2017-07-07   NaN
 2017-07-10   NaN
 2017-07-11   NaN
 2017-07-12   NaN
 2017-07-13   NaN
               ..
 2022-07-01   NaN
 2022-07-05   NaN
 2022-07-06   NaN
 2022-07-07   NaN
 2022-07-08   NaN
 Length: 1260, dtype: float64,
 'DDOG_US': Date
 2017-07-07   NaN
 2017-07-10   NaN
 2017-07-11   NaN
 2017-07-12   NaN
 2017-07-13   NaN
               ..
 2022-07-01   NaN
 2022-07-05   NaN
 2022-07-06   NaN
 2022-07-07   NaN
 2022-07-08   NaN
 Length: 1260, dtype: float64,
 'CRWD_USA': Date
 2017-07-07   NaN
 2017-07-10   NaN
 2017-07-11   NaN
 2017-07-12   NaN
 2017-07-13   NaN
               ..
 2022-07-01   NaN
 2022-07-05   NaN
 2022-07-06   NaN
 2022-07-07   NaN
 2022-07-08   NaN
 Length: 1260, dtype: float64,
 'ZS_US': Date
 2017-07-07   NaN
 2017-07-10   NaN
 2017-07-11   NaN
 2017-07-12   NaN
 2017-07-13   NaN
               ..
 2022-07-01   NaN
 2022-07-05   NaN
 2022-07-06   NaN
 2022-07-07   NaN
 2022-07-08   NaN
 Length: 1260, dtype: float64,
 'CEG_US': Date
 2017-07-07   NaN
 2017-07-10   NaN
 2017-07-11   NaN
 2017-07-12   NaN
 2017-07-13   NaN
               ..
 2022-07-01   NaN
 2022-07-05   NaN
 2022-07-06   NaN
 2022-07-07   NaN
 2022-07-08   NaN
 Length: 1260, dtype: float64,
 'FTNT_US': Date
 2017-07-07   NaN
 2017-07-10   NaN
 2017-07-11   NaN
 2017-07-12   NaN
 2017-07-13   NaN
               ..
 2022-07-01   NaN
 2022-07-05   NaN
 2022-07-06   NaN
 2022-07-07   NaN
 2022-07-08   NaN
 Length: 1260, dtype: float64,
 'PANW_US': Date
 2017-07-07   NaN
 2017-07-10   NaN
 2017-07-11   NaN
 2017-07-12   NaN
 2017-07-13   NaN
               ..
 2022-07-01   NaN
 2022-07-05   NaN
 2022-07-06   NaN
 2022-07-07   NaN
 2022-07-08   NaN
 Length: 1260, dtype: float64,
 'ODFL_US': Date
 2017-07-07   NaN
 2017-07-10   NaN
 2017-07-11   NaN
 2017-07-12   NaN
 2017-07-13   NaN
               ..
 2022-07-01   NaN
 2022-07-05   NaN
 2022-07-06   NaN
 2022-07-07   NaN
 2022-07-08   NaN
 Length: 1260, dtype: float64,
 'AZN_US': Date
 2017-07-07   NaN
 2017-07-10   NaN
 2017-07-11   NaN
 2017-07-12   NaN
 2017-07-13   NaN
               ..
 2022-07-01   NaN
 2022-07-05   NaN
 2022-07-06   NaN
 2022-07-07   NaN
 2022-07-08   NaN
 Length: 1260, dtype: float64,
 'HON_US': Date
 2017-07-07   NaN
 2017-07-10   NaN
 2017-07-11   NaN
 2017-07-12   NaN
 2017-07-13   NaN
               ..
 2022-07-01   NaN
 2022-07-05   NaN
 2022-07-06   NaN
 2022-07-07   NaN
 2022-07-08   NaN
 Length: 1260, dtype: float64,
 'MTCH_US': Date
 2017-07-07   NaN
 2017-07-10   NaN
 2017-07-11   NaN
 2017-07-12   NaN
 2017-07-13   NaN
               ..
 2022-07-01   NaN
 2022-07-05   NaN
 2022-07-06   NaN
 2022-07-07   NaN
 2022-07-08   NaN
 Length: 1260, dtype: float64,
 'PTON_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.000076
 2022-07-05    0.000054
 2022-07-06    0.000048
 2022-07-07    0.000080
 2022-07-08    0.000090
 Length: 1260, dtype: float64,
 'MRNA_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.206587
 2022-07-05    0.206736
 2022-07-06    0.208344
 2022-07-07    0.212008
 2022-07-08    0.212276
 Length: 1260, dtype: float64,
 'OKTA_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.529317
 2022-07-05    0.529545
 2022-07-06    0.528823
 2022-07-07    0.528776
 2022-07-08    0.529653
 Length: 1260, dtype: float64,
 'PDD_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.243718
 2022-07-05    0.249070
 2022-07-06    0.245171
 2022-07-07    0.243542
 2022-07-08    0.243179
 Length: 1260, dtype: float64,
 'TEAM_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.637809
 2022-07-05    0.642585
 2022-07-06    0.642046
 2022-07-07    0.642555
 2022-07-08    0.643908
 Length: 1260, dtype: float64,
 'KDP_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.106623
 2022-07-05    0.110817
 2022-07-06    0.110717
 2022-07-07    0.115292
 2022-07-08    0.115505
 Length: 1260, dtype: float64,
 'MRVL_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.672062
 2022-07-05    0.669995
 2022-07-06    0.670243
 2022-07-07    0.671935
 2022-07-08    0.671768
 Length: 1260, dtype: float64,
 'AEP_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.075385
 2022-07-05    0.058935
 2022-07-06    0.060368
 2022-07-07    0.060023
 2022-07-08    0.059318
 Length: 1260, dtype: float64,
 'ZM_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.441985
 2022-07-05    0.444292
 2022-07-06    0.441594
 2022-07-07    0.442910
 2022-07-08    0.442467
 Length: 1260, dtype: float64,
 'DOCU_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.356149
 2022-07-05    0.359447
 2022-07-06    0.358761
 2022-07-07    0.360418
 2022-07-08    0.359945
 Length: 1260, dtype: float64,
 'SPLK_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.411608
 2022-07-05    0.412488
 2022-07-06    0.412355
 2022-07-07    0.417876
 2022-07-08    0.417280
 Length: 1260, dtype: float64,
 'CDW_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.039145
 2022-07-05    0.035196
 2022-07-06    0.035098
 2022-07-07    0.034106
 2022-07-08    0.033470
 Length: 1260, dtype: float64,
 'DXCM_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.486776
 2022-07-05    0.486812
 2022-07-06    0.488868
 2022-07-07    0.493867
 2022-07-08    0.493053
 Length: 1260, dtype: float64,
 'EXC_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.133517
 2022-07-05    0.104420
 2022-07-06    0.106135
 2022-07-07    0.105981
 2022-07-08    0.105268
 Length: 1260, dtype: float64,
 'CPRT_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.665565
 2022-07-05    0.665687
 2022-07-06    0.665980
 2022-07-07    0.667349
 2022-07-08    0.666957
 Length: 1260, dtype: float64,
 'CSGP_US': Date
 2017-07-07    NaN
 2017-07-10    NaN
 2017-07-11    NaN
 2017-07-12    NaN
 2017-07-13    NaN
              ...
 2022-07-01   -inf
 2022-07-05   -inf
 2022-07-06   -inf
 2022-07-07   -inf
 2022-07-08    NaN
 Length: 1260, dtype: float64,
 'SGEN_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.252655
 2022-07-05    0.246565
 2022-07-06    0.244978
 2022-07-07    0.247266
 2022-07-08    0.246615
 Length: 1260, dtype: float64,
 'ANSS_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.779270
 2022-07-05    0.779070
 2022-07-06    0.779831
 2022-07-07    0.780642
 2022-07-08    0.779462
 Length: 1260, dtype: float64,
 'FOX_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.276981
 2022-07-05    0.275441
 2022-07-06    0.277087
 2022-07-07    0.277946
 2022-07-08    0.277141
 Length: 1260, dtype: float64,
 'FOXA_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.244420
 2022-07-05    0.244737
 2022-07-06    0.248406
 2022-07-07    0.249222
 2022-07-08    0.248483
 Length: 1260, dtype: float64,
 'UAL_US': Date
 2017-07-07    NaN
 2017-07-10    NaN
 2017-07-11    NaN
 2017-07-12    NaN
 2017-07-13    NaN
              ...
 2022-07-01   -inf
 2022-07-05   -inf
 2022-07-06   -inf
 2022-07-07   -inf
 2022-07-08    NaN
 Length: 1260, dtype: float64,
 'NTAP_US': Date
 2017-07-07    NaN
 2017-07-10    NaN
 2017-07-11    NaN
 2017-07-12    NaN
 2017-07-13    NaN
              ...
 2022-07-01   -inf
 2022-07-05   -inf
 2022-07-06   -inf
 2022-07-07   -inf
 2022-07-08    NaN
 Length: 1260, dtype: float64,
 'NXPI_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.608943
 2022-07-05    0.603863
 2022-07-06    0.603407
 2022-07-07    0.605826
 2022-07-08    0.605338
 Length: 1260, dtype: float64,
 'LULU_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.587449
 2022-07-05    0.582863
 2022-07-06    0.582405
 2022-07-07    0.585119
 2022-07-08    0.585631
 Length: 1260, dtype: float64,
 'XEL_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.039186
 2022-07-05    0.029285
 2022-07-06    0.029567
 2022-07-07    0.027498
 2022-07-08    0.027317
 Length: 1260, dtype: float64,
 'PEP_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.180021
 2022-07-05    0.176642
 2022-07-06    0.177997
 2022-07-07    0.177161
 2022-07-08    0.176260
 Length: 1260, dtype: float64,
 'AMD_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.674104
 2022-07-05    0.673735
 2022-07-06    0.673805
 2022-07-07    0.675927
 2022-07-08    0.676507
 Length: 1260, dtype: float64,
 'WTW_US': Date
 2017-07-07    NaN
 2017-07-10    NaN
 2017-07-11    NaN
 2017-07-12    NaN
 2017-07-13    NaN
              ...
 2022-07-01   -inf
 2022-07-05   -inf
 2022-07-06   -inf
 2022-07-07   -inf
 2022-07-08    NaN
 Length: 1260, dtype: float64,
 'VRSN_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.506735
 2022-07-05    0.505477
 2022-07-06    0.504884
 2022-07-07    0.507020
 2022-07-08    0.506767
 Length: 1260, dtype: float64,
 'WDAY_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.557756
 2022-07-05    0.558491
 2022-07-06    0.558244
 2022-07-07    0.558069
 2022-07-08    0.557722
 Length: 1260, dtype: float64,
 'SNPS_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.715997
 2022-07-05    0.712670
 2022-07-06    0.712542
 2022-07-07    0.715256
 2022-07-08    0.714427
 Length: 1260, dtype: float64,
 'CDNS_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.688181
 2022-07-05    0.686777
 2022-07-06    0.688117
 2022-07-07    0.689419
 2022-07-08    0.689278
 Length: 1260, dtype: float64,
 'ALGN_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.420408
 2022-07-05    0.423555
 2022-07-06    0.423015
 2022-07-07    0.426230
 2022-07-08    0.426429
 Length: 1260, dtype: float64,
 'ASML_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.722341
 2022-07-05    0.701389
 2022-07-06    0.699928
 2022-07-07    0.702370
 2022-07-08    0.702147
 Length: 1260, dtype: float64,
 'TTWO_US': Date
 2017-07-07    NaN
 2017-07-10    NaN
 2017-07-11    NaN
 2017-07-12    NaN
 2017-07-13    NaN
              ...
 2022-07-01   -inf
 2022-07-05   -inf
 2022-07-06   -inf
 2022-07-07   -inf
 2022-07-08    NaN
 Length: 1260, dtype: float64,
 'WBD_US': Date
 2017-07-07    NaN
 2017-07-10    NaN
 2017-07-11    NaN
 2017-07-12    NaN
 2017-07-13    NaN
              ...
 2022-07-01   -inf
 2022-07-05   -inf
 2022-07-06   -inf
 2022-07-07   -inf
 2022-07-08    NaN
 Length: 1260, dtype: float64,
 'VTRS_US': Date
 2017-07-07    NaN
 2017-07-10    NaN
 2017-07-11    NaN
 2017-07-12    NaN
 2017-07-13    NaN
              ...
 2022-07-01   -inf
 2022-07-05   -inf
 2022-07-06   -inf
 2022-07-07   -inf
 2022-07-08    NaN
 Length: 1260, dtype: float64,
 'KHC_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.017367
 2022-07-05    0.015300
 2022-07-06    0.015617
 2022-07-07    0.015355
 2022-07-08    0.015509
 Length: 1260, dtype: float64,
 'PYPL_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.394610
 2022-07-05    0.394282
 2022-07-06    0.392891
 2022-07-07    0.394584
 2022-07-08    0.393562
 Length: 1260, dtype: float64,
 'EXPE_US': Date
 2017-07-07    NaN
 2017-07-10    NaN
 2017-07-11    NaN
 2017-07-12    NaN
 2017-07-13    NaN
              ...
 2022-07-01   -inf
 2022-07-05   -inf
 2022-07-06   -inf
 2022-07-07   -inf
 2022-07-08    NaN
 Length: 1260, dtype: float64,
 'META_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.525458
 2022-07-05    0.527776
 2022-07-06    0.529275
 2022-07-07    0.528165
 2022-07-08    0.527533
 Length: 1260, dtype: float64,
 'JD_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.235681
 2022-07-05    0.233181
 2022-07-06    0.229802
 2022-07-07    0.230452
 2022-07-08    0.229306
 Length: 1260, dtype: float64,
 'QRTEA_US': Date
 2017-07-07    NaN
 2017-07-10    NaN
 2017-07-11    NaN
 2017-07-12    NaN
 2017-07-13    NaN
              ...
 2022-07-01   -inf
 2022-07-05   -inf
 2022-07-06   -inf
 2022-07-07   -inf
 2022-07-08    NaN
 Length: 1260, dtype: float64,
 'DISH_US': Date
 2017-07-07    NaN
 2017-07-10    NaN
 2017-07-11    NaN
 2017-07-12    NaN
 2017-07-13    NaN
              ...
 2022-07-01   -inf
 2022-07-05   -inf
 2022-07-06   -inf
 2022-07-07   -inf
 2022-07-08    NaN
 Length: 1260, dtype: float64,
 'TMUS_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.216267
 2022-07-05    0.213029
 2022-07-06    0.214730
 2022-07-07    0.212059
 2022-07-08    0.211202
 Length: 1260, dtype: float64,
 'NCLH_US': Date
 2017-07-07    NaN
 2017-07-10    NaN
 2017-07-11    NaN
 2017-07-12    NaN
 2017-07-13    NaN
              ...
 2022-07-01   -inf
 2022-07-05   -inf
 2022-07-06   -inf
 2022-07-07   -inf
 2022-07-08    NaN
 Length: 1260, dtype: float64,
 'CHTR_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.148181
 2022-07-05    0.146484
 2022-07-06    0.144876
 2022-07-07    0.140018
 2022-07-08    0.139130
 Length: 1260, dtype: float64,
 'GOOG_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.742848
 2022-07-05    0.738489
 2022-07-06    0.738803
 2022-07-07    0.740068
 2022-07-08    0.739764
 Length: 1260, dtype: float64,
 'TSLA_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.544429
 2022-07-05    0.546729
 2022-07-06    0.545599
 2022-07-07    0.547806
 2022-07-08    0.548466
 Length: 1260, dtype: float64,
 'AVGO_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.660938
 2022-07-05    0.654758
 2022-07-06    0.654712
 2022-07-07    0.658467
 2022-07-08    0.658077
 Length: 1260, dtype: float64,
 'VRSK_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.412801
 2022-07-05    0.408926
 2022-07-06    0.410078
 2022-07-07    0.407333
 2022-07-08    0.406974
 Length: 1260, dtype: float64,
 'CMCSA_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.228353
 2022-07-05    0.219783
 2022-07-06    0.219726
 2022-07-07    0.223363
 2022-07-08    0.222760
 Length: 1260, dtype: float64,
 'STX_US': Date
 2017-07-07    NaN
 2017-07-10    NaN
 2017-07-11    NaN
 2017-07-12    NaN
 2017-07-13    NaN
              ...
 2022-07-01   -inf
 2022-07-05   -inf
 2022-07-06   -inf
 2022-07-07   -inf
 2022-07-08    NaN
 Length: 1260, dtype: float64,
 'MDLZ_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.174042
 2022-07-05    0.165484
 2022-07-06    0.166752
 2022-07-07    0.167113
 2022-07-08    0.167244
 Length: 1260, dtype: float64,
 'LBTYA_US': Date
 2017-07-07    NaN
 2017-07-10    NaN
 2017-07-11    NaN
 2017-07-12    NaN
 2017-07-13    NaN
              ...
 2022-07-01   -inf
 2022-07-05   -inf
 2022-07-06   -inf
 2022-07-07   -inf
 2022-07-08    NaN
 Length: 1260, dtype: float64,
 'LBTYK_US': Date
 2017-07-07    NaN
 2017-07-10    NaN
 2017-07-11    NaN
 2017-07-12    NaN
 2017-07-13    NaN
              ...
 2022-07-01   -inf
 2022-07-05   -inf
 2022-07-06   -inf
 2022-07-07   -inf
 2022-07-08    NaN
 Length: 1260, dtype: float64,
 'BIDU_US': Date
 2017-07-07         NaN
 2017-07-10         NaN
 2017-07-11         NaN
 2017-07-12         NaN
 2017-07-13         NaN
                 ...
 2022-07-01    0.283249
 2022-07-05    0.286475
 2022-07-06    0.283683
 2022-07-07    0.284762
 2022-07-08    0.283645
 Length: 1260, dtype: float64,
 'AAL_US': Date
 2017-07-07    NaN
 2017-07-10    NaN
 2017-07-11    NaN
 2017-07-12    NaN
 2017-07-13    NaN
              ...
 2022-07-01   -inf
 2022-07-05   -inf
 2022-07-06   -inf

In [168]:
RR_r2 = pd.DataFrame(RR_res_par['R2'])
RR_r2

,ABNB_US,LCID_US,DDOG_US,CRWD_USA,ZS_US,CEG_US,FTNT_US,PANW_US,ODFL_US,AZN_US,...,NLOK_US,HSIC_US,ILMN_US,ADI_US,ADSK_US,MAT_US,WBA_US,VOD_US,FAST_US,CTAS_US
Date,,,,,,,,,,,,,,,,,,,,,
2017-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-inf,-inf,0.411763,0.692231,0.583200,-inf,0.195669,-inf,0.417695,0.574372
2022-07-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-inf,-inf,0.412406,0.687968,0.582930,-inf,0.193203,-inf,0.412912,0.567863
2022-07-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-inf,-inf,0.412637,0.689324,0.582404,-inf,0.198551,-inf,0.413050,0.568573
2022-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-inf,-inf,0.416325,0.691374,0.584937,-inf,0.202891,-inf,0.414430,0.564864
2022-07-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.414112,0.691309,0.583681,NaN,0.202507,NaN,0.413581,0.564482

# Matrice $\alpha$

In [224]:
RR_alpha = pd.DataFrame(RR_res_par['Alpha'])

# Matrice $\beta$

In [225]:
RR_beta = pd.DataFrame(RR_res_par['Beta'])

# Matrice Rischio Sistematico

In [226]:
RR_systematic = pd.DataFrame(RR_res_par['Systematic Risk'])

# Matrice Rischio Specifico

In [227]:
RR_specific = pd.DataFrame(RR_res_par['Specific Risk'])

# Matrice Rischio Totale

In [228]:
RR_total= pd.DataFrame(RR_res_par['Total Risk'])