# Installazione e import pacchetti

In [ ]:
# %pip install pandas
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.

     -------------------------------------- 242.1/242.1 KB 1.1 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

You should consider upgrading via the 'c:\Users\marco\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [ ]:
import pandas as pd
from openpyxl import Workbook

# Import dataset DOW-JONES

In [ ]:
# Dow Jones index time series
df_dj = pd.read_excel('C:/Users/marco/OneDrive/UNIMIB_DataScience/99-PROJECTS/FinancialMarketAnalytics2022/Financial_Market_Analytics/Dataset/DJ_Price.xlsx', header=0, parse_dates=[0], index_col=0)

In [ ]:
df_dj=df_dj.rename(columns={"DJ Industrial Average - Close":"Close_price"})
df_dj.head()

            Close_price
Date
2017-07-10     21408.52
2017-07-11     21409.07
2017-07-12     21532.14
2017-07-13     21553.09
2017-07-14     21637.74

In [ ]:
# Costituents of Dow Jones index time series
df_stocks1 = pd.read_excel('C:/Users/marco/OneDrive/UNIMIB_DataScience/99-PROJECTS/FinancialMarketAnalytics2022/Financial_Market_Analytics/Dataset/Stocks_Price.xlsx', header=0, parse_dates=[0], index_col=0)
df_stocks2 = pd.read_excel('C:/Users/marco/OneDrive/UNIMIB_DataScience/99-PROJECTS/FinancialMarketAnalytics2022/Financial_Market_Analytics/Dataset/Stocks_Price1.xlsx', header=0, parse_dates=[0], index_col=0)

In [ ]:
df_stocks1.head()

,DJ Industrial Average - Close,DJ Industrial Average - Volume,Walgreens Boots Alliance - Close,Microsoft - Close,UnitedHealth Group - Close,JPMorgan Chase - Close,Coca-Cola - Close,Honeywell International - Close,Johnson & Johnson - Close,Verizon Communications - Close,...,Apple - Close,NIKE - Close,American Express - Close,Walt Disney - Close,Intel - Close,Walmart - Close,Cisco Systems - Close,Caterpillar - Close,McDonald's - Close,Home Depot - Close
Date,,,,,,,,,,,,,,,,,,,,,
2017-07-11,21409.07,274780.0,77.29,69.99,185.95,92.83,44.33,128.51,131.23,42.89,...,36.38,58.18,84.16,103.84,33.92,73.47,31.09,108.24,154.91,150.60
2017-07-12,21532.14,300088.0,77.52,71.15,186.69,92.51,44.51,129.04,132.23,43.22,...,36.44,58.22,84.82,104.38,34.25,73.94,31.16,108.96,156.58,152.59
2017-07-13,21553.09,284105.0,78.01,71.77,185.48,93.10,44.43,129.57,131.86,43.49,...,36.94,57.94,85.37,104.29,34.24,75.05,31.27,108.47,155.04,153.29
2017-07-14,21637.74,278818.0,78.91,72.78,186.90,92.25,44.68,130.05,132.60,43.56,...,37.26,58.00,85.28,105.09,34.68,76.34,31.42,108.77,155.28,152.88
2017-07-17,21629.72,293014.0,79.18,73.35,186.35,91.39,44.73,129.50,132.15,43.66,...,37.39,57.79,85.22,104.79,34.47,76.37,31.50,108.84,155.26,153.89

In [ ]:
df_stocks2.head()

,Merck & Co - Close,Salesforce - Close,Travelers - Close,Dow - Close,Visa - Close
Date,,,,,
2017-07-11,59.44,88.35,125.05,NaN,95.41
2017-07-12,59.86,90.40,125.25,NaN,96.18
2017-07-13,59.97,89.57,125.43,NaN,95.94
2017-07-14,60.13,90.00,125.72,NaN,96.93
2017-07-17,59.70,89.29,126.23,NaN,96.83

In [ ]:
df_stocks =pd.concat([df_stocks1, df_stocks2], axis=1)
df_stocks.head()

,DJ Industrial Average - Close,DJ Industrial Average - Volume,Walgreens Boots Alliance - Close,Microsoft - Close,UnitedHealth Group - Close,JPMorgan Chase - Close,Coca-Cola - Close,Honeywell International - Close,Johnson & Johnson - Close,Verizon Communications - Close,...,Walmart - Close,Cisco Systems - Close,Caterpillar - Close,McDonald's - Close,Home Depot - Close,Merck & Co - Close,Salesforce - Close,Travelers - Close,Dow - Close,Visa - Close
Date,,,,,,,,,,,,,,,,,,,,,
2017-07-11,21409.07,274780.0,77.29,69.99,185.95,92.83,44.33,128.51,131.23,42.89,...,73.47,31.09,108.24,154.91,150.60,59.44,88.35,125.05,NaN,95.41
2017-07-12,21532.14,300088.0,77.52,71.15,186.69,92.51,44.51,129.04,132.23,43.22,...,73.94,31.16,108.96,156.58,152.59,59.86,90.40,125.25,NaN,96.18
2017-07-13,21553.09,284105.0,78.01,71.77,185.48,93.10,44.43,129.57,131.86,43.49,...,75.05,31.27,108.47,155.04,153.29,59.97,89.57,125.43,NaN,95.94
2017-07-14,21637.74,278818.0,78.91,72.78,186.90,92.25,44.68,130.05,132.60,43.56,...,76.34,31.42,108.77,155.28,152.88,60.13,90.00,125.72,NaN,96.93
2017-07-17,21629.72,293014.0,79.18,73.35,186.35,91.39,44.73,129.50,132.15,43.66,...,76.37,31.50,108.84,155.26,153.89,59.70,89.29,126.23,NaN,96.83

In [ ]:
df_stocks=df_stoks.drop(columns=['DJ Industrial Average - Close', 'DJ Industrial Average - Volume'],)
df_stocks.head()

,Walgreens Boots Alliance - Close,Microsoft - Close,UnitedHealth Group - Close,JPMorgan Chase - Close,Coca-Cola - Close,Honeywell International - Close,Johnson & Johnson - Close,Verizon Communications - Close,3M Co - Close,Chevron - Close,...,Walmart - Close,Cisco Systems - Close,Caterpillar - Close,McDonald's - Close,Home Depot - Close,Merck & Co - Close,Salesforce - Close,Travelers - Close,Dow - Close,Visa - Close
Date,,,,,,,,,,,,,,,,,,,,,
2017-07-11,77.29,69.99,185.95,92.83,44.33,128.51,131.23,42.89,209.66,103.12,...,73.47,31.09,108.24,154.91,150.60,59.44,88.35,125.05,NaN,95.41
2017-07-12,77.52,71.15,186.69,92.51,44.51,129.04,132.23,43.22,211.30,103.89,...,73.94,31.16,108.96,156.58,152.59,59.86,90.40,125.25,NaN,96.18
2017-07-13,78.01,71.77,185.48,93.10,44.43,129.57,131.86,43.49,211.09,104.13,...,75.05,31.27,108.47,155.04,153.29,59.97,89.57,125.43,NaN,95.94
2017-07-14,78.91,72.78,186.90,92.25,44.68,130.05,132.60,43.56,211.77,104.44,...,76.34,31.42,108.77,155.28,152.88,60.13,90.00,125.72,NaN,96.93
2017-07-17,79.18,73.35,186.35,91.39,44.73,129.50,132.15,43.66,211.68,104.21,...,76.37,31.50,108.84,155.26,153.89,59.70,89.29,126.23,NaN,96.83

In [ ]:
print(df_stocks.isnull().sum())

Walgreens Boots Alliance - Close      1
Microsoft - Close                     1
UnitedHealth Group - Close            0
JPMorgan Chase - Close                0
Coca-Cola - Close                     0
Honeywell International - Close       1
Johnson & Johnson - Close             0
Verizon Communications - Close        0
3M Co - Close                         0
Chevron - Close                       0
IBM - Close                           0
Amgen - Close                         1
Procter & Gamble - Close              0
Goldman Sachs Group - Close           0
Boeing - Close                        0
Apple - Close                         1
NIKE - Close                          0
American Express - Close              0
Walt Disney - Close                   0
Intel - Close                         1
Walmart - Close                       0
Cisco Systems - Close                 1
Caterpillar - Close                   0
McDonald's - Close                    0
Home Depot - Close                    0
Merck & Co - Close                    0
Salesforce - Close                    0
Travelers - Close                     0
Dow - Close                         425
Visa - Close                          0
dtype: int64

# NASDAQ 100

In [ ]:
df = pd.read_excel('C:/Users/marco/OneDrive/UNIMIB_DataScience/99-PROJECTS/FinancialMarketAnalytics2022/Financial_Market_Analytics/ListNasdaq_1722.xlsx')

In [ ]:
display(df)

,Name,Symbol,2017,2018,2019,2020,2021,2022
0,Cintas Corporation,CTAS-US,CTAS-US,CTAS-US,CTAS-US,CTAS-US,CTAS-US,CTAS-US
1,Fastenal Company,FAST-US,FAST-US,FAST-US,FAST-US,FAST-US,FAST-US,FAST-US
2,Vodafone Group Plc Sponsored ADR,VOD-US,VOD-US,VOD-US,NaN,NaN,NaN,NaN
3,Walgreens Boots Alliance Inc,WBA-US,WBA-US,WBA-US,WBA-US,WBA-US,WBA-US,WBA-US
4,"Mattel, Inc.",MAT-US,MAT-US,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
149,"Zscaler, Inc.",ZS-US,NaN,NaN,NaN,NaN,NaN,ZS-US
150,"CrowdStrike Holdings, Inc. Class A",CRWD-US,NaN,NaN,NaN,NaN,NaN,CRWD-US
151,Datadog Inc Class A,DDOG-US,NaN,NaN,NaN,NaN,NaN,DDOG-US
152,"Lucid Group, Inc.",LCID-US,NaN,NaN,NaN,NaN,NaN,LCID-US
153,"Airbnb, Inc. Class A",ABNB-US,NaN,NaN,NaN,NaN,NaN,ABNB-US

In [ ]:
df_nonan = df.dropna(axis=0)
display(df_nonan)

,Name,Symbol,2017,2018,2019,2020,2021,2022
0,Cintas Corporation,CTAS-US,CTAS-US,CTAS-US,CTAS-US,CTAS-US,CTAS-US,CTAS-US
1,Fastenal Company,FAST-US,FAST-US,FAST-US,FAST-US,FAST-US,FAST-US,FAST-US
3,Walgreens Boots Alliance Inc,WBA-US,WBA-US,WBA-US,WBA-US,WBA-US,WBA-US,WBA-US
5,"Autodesk, Inc.",ADSK-US,ADSK-US,ADSK-US,ADSK-US,ADSK-US,ADSK-US,ADSK-US
6,"Analog Devices, Inc.",ADI-US,ADI-US,ADI-US,ADI-US,ADI-US,ADI-US,ADI-US
...,...,...,...,...,...,...,...,...
93,"T-Mobile US, Inc.",TMUS-US,TMUS-US,TMUS-US,TMUS-US,TMUS-US,TMUS-US,TMUS-US
98,"JD.com, Inc. Sponsored ADR Class A",JD-US,JD-US,JD-US,JD-US,JD-US,JD-US,JD-US
99,Meta Platforms Inc. Class A,META-US,META-US,META-US,META-US,META-US,META-US,META-US
103,"PayPal Holdings, Inc.",PYPL-US,PYPL-US,PYPL-US,PYPL-US,PYPL-US,PYPL-US,PYPL-US
104,Kraft Heinz Company,KHC-US,KHC-US,KHC-US,KHC-US,KHC-US,KHC-US,KHC-US

In [ ]:
df_nonan.to_excel('ListComplete.xlsx')

In [ ]:
df_25 = pd.read_excel('C:/Users/marco/OneDrive/UNIMIB_DataScience/99-PROJECTS/FinancialMarketAnalytics2022/Financial_Market_Analytics/Dataset/NASDAQ_25.xlsx', header=0, parse_dates=[0], index_col=0)
df_50 = pd.read_excel('C:/Users/marco/OneDrive/UNIMIB_DataScience/99-PROJECTS/FinancialMarketAnalytics2022/Financial_Market_Analytics/Dataset/NASDAQ_50.xlsx', header=0, parse_dates=[0], index_col=0)
df_75 = pd.read_excel('C:/Users/marco/OneDrive/UNIMIB_DataScience/99-PROJECTS/FinancialMarketAnalytics2022/Financial_Market_Analytics/Dataset/NASDAQ_75.xlsx', header=0, parse_dates=[0], index_col=0)
df_100 = pd.read_excel('C:/Users/marco/OneDrive/UNIMIB_DataScience/99-PROJECTS/FinancialMarketAnalytics2022/Financial_Market_Analytics/Dataset/NASDAQ_100.xlsx', header=0, parse_dates=[0], index_col=0)
df_102 = pd.read_excel('C:/Users/marco/OneDrive/UNIMIB_DataScience/99-PROJECTS/FinancialMarketAnalytics2022/Financial_Market_Analytics/Dataset/NASDAQ_102.xlsx', header=0, parse_dates=[0], index_col=0)

In [ ]:
df_25

,Analog Devices - Close,Walgreens Boots Alliance - Close,Skyworks Solutions - Close,Honeywell International - Close,Cintas - Close,ANSYS - Close,Qualcomm - Close,Sirius XM - Close,ASML Holding - Close,Autodesk - Close,...,Costco Wholesale - Close,Old Dominion Freight Line - Close,VeriSign - Close,Microsoft - Close,AstraZeneca - Close,Monster Beverage - Close,Fastenal - Close,Align Technology - Close,Fiserv - Close,Seagen - Close
Date,,,,,,,,,,,,,,,,,,,,,
2017-07-31,79.01,80.67,104.87,130.33,134.85,129.55,53.19,5.86,150.33,110.79,...,158.51,63.94,101.17,72.70,30.18,52.75,21.48,167.23,64.25,50.50
2017-08-01,78.95,81.13,104.28,131.18,135.52,130.23,53.41,5.79,150.92,111.38,...,159.72,62.96,99.37,72.58,29.92,53.12,21.50,169.43,64.64,49.22
2017-08-02,78.82,81.03,104.43,132.82,135.00,127.48,53.17,5.68,151.02,109.13,...,161.28,62.85,99.41,72.26,30.33,53.04,21.49,167.99,61.98,48.50
2017-08-03,77.94,81.05,101.79,133.62,134.14,123.39,52.95,5.64,152.17,107.88,...,157.91,63.06,100.05,72.15,30.34,53.14,21.29,170.46,61.98,49.09
2017-08-04,77.78,81.06,102.55,134.08,135.00,124.32,52.62,5.56,152.94,108.39,...,156.44,64.15,99.31,72.68,30.17,52.71,21.93,169.30,61.54,49.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,142.91,38.56,91.12,175.11,376.71,240.19,123.53,6.21,449.83,173.86,...,485.76,261.01,170.81,259.58,65.95,94.59,49.74,247.34,92.58,180.11
2022-07-05,143.07,38.51,93.85,172.09,375.36,245.19,125.83,6.22,432.40,176.90,...,488.26,259.02,172.30,262.85,65.51,96.11,49.67,254.11,94.11,176.77
2022-07-06,144.70,37.78,95.53,173.21,380.12,247.42,127.06,6.19,428.88,176.73,...,492.65,264.19,176.06,266.21,66.49,97.39,50.42,249.54,93.86,175.13
2022-07-07,148.57,38.21,98.23,173.79,380.89,252.34,134.40,6.25,451.90,182.25,...,494.95,273.69,178.62,268.40,66.92,96.99,50.79,259.64,93.35,177.95
2022-07-08,149.94,37.55,97.87,173.34,381.07,249.65,136.01,6.31,452.95,179.83,...,501.54,273.02,178.63,267.66,66.98,97.48,50.64,261.52,93.06,177.45

In [ ]:
df_concat =pd.concat([df_25, df_50, df_75, df_100, df_102], axis=1)

In [ ]:
df_concat.to_excel('df_concat.xlsx')

In [ ]:
df_concat.head()

,Analog Devices - Close,Walgreens Boots Alliance - Close,Skyworks Solutions - Close,Honeywell International - Close,Cintas - Close,ANSYS - Close,Qualcomm - Close,Sirius XM - Close,ASML Holding - Close,Autodesk - Close,...,Kraft Heinz - Close,Fortinet Inc - Close,PayPal Holdings - Close,Atlassian - Close,Tesla - Close,Datadog - Close,Okta - Close,JD.com - Close,Lucid Group - Close,Airbnb - Close
Date,,,,,,,,,,,,,,,,,,,,,
2017-07-31,79.01,80.67,104.87,130.33,134.85,129.55,53.19,5.86,150.33,110.79,...,87.46,7.38,58.55,35.82,64.69,NaN,21.95,45.17,NaN,NaN
2017-08-01,78.95,81.13,104.28,131.18,135.52,130.23,53.41,5.79,150.92,111.38,...,86.67,7.36,59.34,36.29,63.91,NaN,22.69,45.55,NaN,NaN
2017-08-02,78.82,81.03,104.43,132.82,135.00,127.48,53.17,5.68,151.02,109.13,...,86.87,7.27,59.12,34.50,65.18,NaN,22.19,45.25,NaN,NaN
2017-08-03,77.94,81.05,101.79,133.62,134.14,123.39,52.95,5.64,152.17,107.88,...,86.51,7.28,58.42,35.04,69.42,NaN,22.82,45.30,NaN,NaN
2017-08-04,77.78,81.06,102.55,134.08,135.00,124.32,52.62,5.56,152.94,108.39,...,86.66,7.37,58.86,35.33,71.38,NaN,23.01,46.40,NaN,NaN

In [ ]:
df_concat_nonan=df_concat.dropna(axis=1)
display(df_concat_nonan)

,Analog Devices - Close,Walgreens Boots Alliance - Close,Skyworks Solutions - Close,Honeywell International - Close,Cintas - Close,ANSYS - Close,Qualcomm - Close,Sirius XM - Close,ASML Holding - Close,Autodesk - Close,...,Charter Communications - Close,Broadcom - Close,Verisk Analytics - Close,Kraft Heinz - Close,Fortinet Inc - Close,PayPal Holdings - Close,Atlassian - Close,Tesla - Close,Okta - Close,JD.com - Close
Date,,,,,,,,,,,,,,,,,,,,,
2017-07-31,79.01,80.67,104.87,130.33,134.85,129.55,53.19,5.86,150.33,110.79,...,391.91,246.66,87.26,87.46,7.38,58.55,35.82,64.69,21.95,45.17
2017-08-01,78.95,81.13,104.28,131.18,135.52,130.23,53.41,5.79,150.92,111.38,...,387.42,248.39,87.17,86.67,7.36,59.34,36.29,63.91,22.69,45.55
2017-08-02,78.82,81.03,104.43,132.82,135.00,127.48,53.17,5.68,151.02,109.13,...,385.54,253.36,83.84,86.87,7.27,59.12,34.50,65.18,22.19,45.25
2017-08-03,77.94,81.05,101.79,133.62,134.14,123.39,52.95,5.64,152.17,107.88,...,384.30,250.29,82.31,86.51,7.28,58.42,35.04,69.42,22.82,45.30
2017-08-04,77.78,81.06,102.55,134.08,135.00,124.32,52.62,5.56,152.94,108.39,...,384.63,249.17,82.88,86.66,7.37,58.86,35.33,71.38,23.01,46.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,142.91,38.56,91.12,175.11,376.71,240.19,123.53,6.21,449.83,173.86,...,480.92,477.84,175.30,38.64,57.37,71.40,197.51,681.79,95.98,65.95
2022-07-05,143.07,38.51,93.85,172.09,375.36,245.19,125.83,6.22,432.40,176.90,...,481.22,476.30,175.42,38.12,59.00,74.40,208.39,699.20,102.56,64.73
2022-07-06,144.70,37.78,95.53,173.21,380.12,247.42,127.06,6.19,428.88,176.73,...,471.64,482.61,178.12,38.20,59.87,73.24,207.85,695.20,101.33,61.76
2022-07-07,148.57,38.21,98.23,173.79,380.89,252.34,134.40,6.25,451.90,182.25,...,465.40,498.54,178.03,38.08,61.62,75.04,213.77,733.63,103.66,63.13
2022-07-08,149.94,37.55,97.87,173.34,381.07,249.65,136.01,6.31,452.95,179.83,...,463.55,498.69,178.07,38.37,62.70,73.43,214.08,752.29,103.90,62.01

In [ ]:
ciao = df_concat.isnull().sum()

In [ ]:
df_concat.info

<bound method DataFrame.info of             Analog Devices - Close  Walgreens Boots Alliance - Close  \
Date
2017-07-31                   79.01                             80.67
2017-08-01                   78.95                             81.13
2017-08-02                   78.82                             81.03
2017-08-03                   77.94                             81.05
2017-08-04                   77.78                             81.06
...                            ...                               ...
2022-07-01                  142.91                             38.56
2022-07-05                  143.07                             38.51
2022-07-06                  144.70                             37.78
2022-07-07                  148.57                             38.21
2022-07-08                  149.94                             37.55

            Skyworks Solutions - Close  Honeywell International - Close  \
Date
2017-07-31                      104.87                           130.33
2017-08-01                      104.28                           131.18
2017-08-02                      104.43                           132.82
2017-08-03                      101.79                           133.62
2017-08-04                      102.55                           134.08
...                                ...                              ...
2022-07-01                       91.12                           175.11
2022-07-05                       93.85                           172.09
2022-07-06                       95.53                           173.21
2022-07-07                       98.23                           173.79
2022-07-08                       97.87                           173.34

            Cintas - Close  ANSYS - Close  Qualcomm - Close  \
Date
2017-07-31          134.85         129.55             53.19
2017-08-01          135.52         130.23             53.41
2017-08-02          135.00         127.48             53.17
2017-08-03          134.14         123.39             52.95
2017-08-04          135.00         124.32             52.62
...                    ...            ...               ...
2022-07-01          376.71         240.19            123.53
2022-07-05          375.36         245.19            125.83
2022-07-06          380.12         247.42            127.06
2022-07-07          380.89         252.34            134.40
2022-07-08          381.07         249.65            136.01

            Sirius XM - Close  ASML Holding - Close  Autodesk - Close  ...  \
Date                                                                   ...
2017-07-31               5.86                150.33            110.79  ...
2017-08-01               5.79                150.92            111.38  ...
2017-08-02               5.68                151.02            109.13  ...
2017-08-03               5.64                152.17            107.88  ...
2017-08-04               5.56                152.94            108.39  ...
...                       ...                   ...               ...  ...
2022-07-01               6.21                449.83            173.86  ...
2022-07-05               6.22                432.40            176.90  ...
2022-07-06               6.19                428.88            176.73  ...
2022-07-07               6.25                451.90            182.25  ...
2022-07-08               6.31                452.95            179.83  ...

            Kraft Heinz - Close  Fortinet Inc - Close  \
Date
2017-07-31                87.46                  7.38
2017-08-01                86.67                  7.36
2017-08-02                86.87                  7.27
2017-08-03                86.51                  7.28
2017-08-04                86.66                  7.37
...                         ...                   ...
2022-07-01                38.64                 57.37
2022-07-05                38.12                 59.00
2022-07-06                38.20                 59.87
2022-07-07                38.08                 61.62
2022-07-08                38.37                 62.70

            PayPal Holdings - Close  Atlassian - Close  Tesla - Close  \
Date
2017-07-31                    58.55              35.82          64.69
2017-08-01                    59.34              36.29          63.91
2017-08-02                    59.12              34.50          65.18
2017-08-03                    58.42              35.04          69.42
2017-08-04                    58.86              35.33          71.38
...                             ...                ...            ...
2022-07-01                    71.40             197.51         681.79
2022-07-05                    74.40             208.39         699.20
2022-07-06                    73.24             207.85         695.20
2022-07-07                    75.04             213.77         733.63
2022-07-08                    73.43             214.08         752.29

            Datadog - Close  Okta - Close  JD.com - Close  \
Date
2017-07-31              NaN         21.95           45.17
2017-08-01              NaN         22.69           45.55
2017-08-02              NaN         22.19           45.25
2017-08-03              NaN         22.82           45.30
2017-08-04              NaN         23.01           46.40
...                     ...           ...             ...
2022-07-01           101.05         95.98           65.95
2022-07-05           108.38        102.56           64.73
2022-07-06           108.03        101.33           61.76
2022-07-07           107.70        103.66           63.13
2022-07-08           108.29        103.90           62.01

            Lucid Group - Close  Airbnb - Close
Date
2017-07-31                  NaN             NaN
2017-08-01                  NaN             NaN
2017-08-02                  NaN             NaN
2017-08-03                  NaN             NaN
2017-08-04                  NaN             NaN
...                         ...             ...
2022-07-01                17.00           91.41
2022-07-05                17.23           95.94
2022-07-06                18.22           92.88
2022-07-07                19.81           97.50
2022-07-08                19.99           97.35

[1244 rows x 102 columns]>